.goods_menu {
    background-color: #e9e6da;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul.goods li {
    list-style-type: none;
    line-height: 1.8em;
}

a.dot {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.shopmenu_inner {
    padding: 1em 0;
}

.hr {
    height: 40px;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    margin: 0 0 23px 0;
}

.hrCnt {
    display: table;
    position: relative;
    margin: 0 auto;
    white-space: nowrap;
    width: 1%;
    padding: 4px 31px 4px 31px;
}

.hrLeft, .hrRight {
    position: absolute;
    margin: -1px 0 0 0;
    border-top: solid 1px #b6b6b4;
    border-bottom: solid 1px #fff;
    top: 50%;
    left: -950px;
    width: 950px;
}

.hrRight {
    left: 100%;
}

.good {
   border: #dadada 1px solid;
   text-align: center;
   padding: 5px 5px 10px 5px;
   height: 180px;
   overflow: hidden;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.good_title {
    font-family: 'PT Sans' , sans-serif;

}

.good_title a{
    color: #969696;
}

.product {
    background-color: #dddddd;
    padding: 0;
    height: 128px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;

    background: #f0f0f0;
    background: -webkit-gradient(linear,left top, left bottom, color-stop(50%, rgba(249,249,249,1)), color-stop(100%, rgba(224,224,224,1)));
    background: -webkit-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(224,224,224,1) 100%);
    background: -moz-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(224,224,224,1) 100%);
    background: -ms-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(224,224,224,1) 100%);
    background: -o-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(224,224,224,1) 100%);
    background: linear-gradient(top, rgba(249,249,249,1) 50%, rgba(224,224,224,1) 100%);

    -webkit-box-shadow: 0 8px 3px -5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 8px 3px -5px rgba(0,0,0,.2);
    box-shadow: 0 8px 3px -5px rgba(0,0,0,.2);
}

.product_img {
    float: left;
    overflow-x: hidden;
}
.product_img img {
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    padding-right: 10px;
    height: 128px;
}

.product_desc p{
    font-size: 11px;
}

.product_gallery img {
    display: inline;
    margin: 0 0 5px 0;
}

.pos_items{
    width: 100%;
    display: block;
}

li.ui-state-default {
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    min-height: 25px;
    display: block;
    list-style-type: none;
    padding: 10px 5px;
    margin-bottom: 10px;
}

li.ui-state-default > div {
    margin-right: 30px;
    float: left;
}

.item_title , .item_type {
    width: 20%;
}